#####################################################################
# 	 Master ID Configuration
#####################################################################
[mcu SHT36]
## CAN ID
## ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: 2804a6ec8721
#--------------------------------------------------------------------
# # RS232 ID
## Please fill in the baud rate according to the firmware configuration.
# serial: /dev/serial/by-path/platform-1c1c000.usb-usb-0:1.2:1.0-port0
# baud: 250000
# restart_method:command

#####################################################################
# 	 Temperature monitoring
#####################################################################
[temperature_sensor SHT36]
sensor_type: temperature_mcu
sensor_mcu: SHT36

#####################################################################
# 	 Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#adxl345
[lis2dw]
cs_pin: SHT36:gpio12
spi_software_sclk_pin: SHT36:gpio2
spi_software_mosi_pin: SHT36:gpio3
spi_software_miso_pin: SHT36:gpio4
#--------------------------------------------------------------------
[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 150, 20
# Somewhere slightly above the middle of your print bed
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1

#####################################################################
# 	 Stealthburner LED
#####################################################################
## https://github.com/VoronDesign/Voron-Stealthburner/tree/main
# [neopixel sb_leds]
# pin: SHT36:gpio26
# chain_count: 3
# Number of LEDs
# color_order: GRB
# initial_RED: 0.4
# initial_GREEN: 0.8
# initial_BLUE: 1
# initial_WHITE: 0.0

#####################################################################
# 	 Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
[extruder]
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
sensor_type:ATC Semitec 104NT-4-R025H42G
sensor_pin:SHT36:gpio27
###------------------------------------------------------------------
## If using PT1000, please connect the jumper next to the thermal sensitivity.
# sensor_type:PT1000
# sensor_pin:SHT36:gpio27
# pullup_resistor: 1000
###------------------------------------------------------------------
## Using MAX31865 to connect PT100 or PT1000
# sensor_type: MAX31865
# sensor_pin: SHT36:gpio17
# spi_software_sclk_pin: SHT36:gpio2
# spi_software_mosi_pin: SHT36:gpio3
# spi_software_miso_pin: SHT36:gpio4

#####################################################################
# 	 extruder
#####################################################################
## https://www.klipper3d.org/Config_Reference.html#extruder
[extruder]
step_pin: SHT36:gpio7
dir_pin: !SHT36:gpio6
enable_pin: !SHT36:gpio14
rotation_distance: 22.568
## rotation_distance = The original rotation_distance multiplied by the actual extrusion length divided by the requested extrusion length.
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.600
filament_diameter: 1.75
heater_pin: SHT36:gpio23
min_temp: -20
max_temp: 300
max_power: 1.0
min_extrude_temp: -20
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 200.0
control: pid
pid_kp: 15.966
pid_ki: 0.845
pid_kd: 75.430
step_pulse_duration: 0.000004
###------------------------------------------------------------------
[tmc2209 extruder]
uart_pin: SHT36:gpio15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
###------------------------------------------------------------------
[verify_heater extruder]
max_error: 20
check_gain_time: 120
hysteresis: 50
heating_gain: 2


#####################################################################
# 	 FAN
#####################################################################
[fan]
pin: SHT36:gpio21
###------------------------------------------------------------------
[heater_fan my_hotend_fan]
pin: SHT36:gpio13
heater: extruder
heater_temp: 50.0

#####################################################################
# 	 TAP && PL08N && BLTOUCH
#####################################################################
[stepper_x]
endstop_pin: ^SHT36:gpio22

#####################################################################
# 	 TAP && PL08N && BLTOUCH
#####################################################################
## https://www.klipper3d.org/Config_Reference.html?h=probe#probe
[probe]
pin: ^SHT36:gpio20
x_offset: 0
y_offset: 25.0
# z_offset: -2 # comment out to get SAVE_CONFIG to work
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 4.0
samples_tolerance: 0.010
samples_tolerance_retries: 3
